* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-primario: #FFFFFF;
    --cinza: #667085;
    --vermelho: #8E2424;
    --preto: #101828;
    --fonte-principal: 'Inter';
    --borda-vagas: #EAECF0;
    --rodape: #F9FAFB;
}

body {
    background-color: var(--branco-primario);
    font-family: var(--fonte-principal);
    font-size: 16px;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    align-items: center;
    margin: 1.5em 3em;
    color: var(--cinza);
    
}

.cabecalho__logo {
    padding: 0 0.5;
}


.cabecalho__container {
    padding: 0 5em;
}

.cabecalho__container__link {
    text-decoration: none;
    padding: 1em;  
}

.cabecalho__botoes {
    padding-left: 21em;
}

.cabecalho__container__botao {
    border-radius: 8px;
    padding: 1em;
    background-color: #8E2424;
    color: var(--branco-primario);
    text-decoration: none;
}

.secao {
    padding-top: 2em;
    text-align: center;
    margin: 3em;
}

.secao__span {
    margin-bottom:1.5em;
    color: var(--vermelho);
    font-weight: 600;
}

.secao__titulo {
    padding-top: 0.5em;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 1em;
    color: var(--preto);
}

.secao__texto {
    font-weight: 400;
    font-size: 20px;
    margin: 0 12em;
    color: var(--cinza);
    margin-bottom: 3.7em;
}

.metricas__container {
    display: flex;
    gap: 5em;
    margin: 3em;
}

.metricas__titulo {
    color: var(--vermelho);
    font-size: 60px;
    gap: 2em;
}

.metricas__subtitulo {
    color: var(--preto);
    font-size: 18px;
    margin-top: 1em;
}

.metricas__texto {
    color: var(--cinza);
    font-size: 16px;
    margin-top: 0.5em;
}

.talentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 5em;
    margin-bottom: 64px;
}

.talentos__span {
    color: var(--vermelho);
    background: rgba(142, 36, 36, 0.05);
    width: 125px;
    padding: 4px;
    border-radius: 1em;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.25em;
    text-align: center;
}

.talentos__titulo {
    color: var(--preto);
    font-size: 36px;
}

.talentos__texto {
    color: var(--cinza);
    font-size: 20px;
}

.talentos__imagem {
    padding-top: 2em;
    padding-bottom: 5px;
}

.area__titulo {
    color: var(--preto);
    font-size: 20px;
}

.vagas__container {
    padding-left: 21rem;
    margin-bottom: 96px;
}

.vagas__area {
    display: grid;
    gap: 32px;
    padding-top: 59px;
}

.vaga {
    border-radius: 16px;
    padding: 4px 12px;
    border: 1px solid var(--borda-vagas);
    width: 768px;
    height: 136px;
}

.titulo-vaga {
    color: var(--preto);
    font-size: 18px;
    line-height: 84px;
    padding-left: 24px;
}

.informacoes {
    color: var(--cinza);
    font-size: 16px;
    text-align: left;
    display: flex;
    line-height: 28px;
    gap: 1.5rem;
    padding-left: 24px;
}

.depoimentos__container {
    text-align: center;
    border-radius: 16px;
    background: rgba(142, 36, 36, 0.05);
    width: 1216px;
    height: 384px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 96px;
}

.depoimentos__span {
    color: var(--vermelho);
    font-size: 14px;
    top: 64px;
    left: 440.5px;
    position: absolute;
}

.depoimentos__titulo {
    color: var(--preto);
    font-size: 36px;
    padding-left: 64px;
    padding-bottom: 32px;
    width: 1088px;
    height: 88px;
    top: 116px;
    position: absolute;
}

.depoimentos__imagem {
    bottom: 108px;
    left: 580px;
    position: absolute;
}

.depoimentos__nome {
    color: var(--preto);
    font-size: 16px;
    bottom: 68px;
    position: absolute;
    left: 562.5px;
    
}


.depoimentos__profissao {
    color: var(--cinza);
    font-size: 14px;
    bottom: 44px;
    left: 538px;
    position: absolute;
}

.rodape {
    background-color: var(--rodape);
    height: 430px;
    width: 100%;
    text-align: center;
}

.rodape__titulo {
    font-size: 36px;
    color: var(--preto);
    padding-top: 96px;
}

.rodape__texto {
    font-size: 20px;
    color: var(--cinza);
    padding-top: 20px;
}

.input__container {
    justify-content: center;
    padding-top: 40px;
    display: flex;
    gap: 16px;
}

.rodape__input {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    width: 360px;
    height: 48px;
    color: var(--cinza);
    font-size: 16px;
    padding-left: 16px;
}

.rodape__input::placeholder {
    color: var(--cinza);
    font-size: 16px;
}

.rodape__botao {
    background-color: var(--vermelho);
    color: var(--branco-primario);
    border-radius: 8px;
    width: 116px;
    height: 48px;
    font-size: 16px;
}

.rodape__copyright {
    color: #98A2B3;
    padding-top: 32px;
    padding-top: 32px;
}
