* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-primario: #FFFFFF;
    --cinza: #667085;
    --vermelho: #8E2424;
    --preto: #101828;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--branco-primario);
    font-family: var(--fonte-principal);
    font-size: 16px;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    align-items: center;
    margin: 1.5em 3em;
    color: var(--cinza);
    
}

.cabecalho__logo {
    padding: 0 0.5;
}


.cabecalho__container {
    padding: 0 5em;
}

.cabecalho__container__link {
    text-decoration: none;
    padding: 1em;  
}

.cabecalho__botoes {
    padding-left: 21em;
}

.cabecalho__container__botao {
    border-radius: 8px;
    padding: 1em;
    background-color: #8E2424;
    color: var(--branco-primario);
    text-decoration: none;
}

.secao {
    padding-top: 2em;
    text-align: center;
    margin: 3em;
}

.secao__span {
    margin-bottom:1.5em;
    color: var(--vermelho);
    font-weight: 600;
}

.secao__titulo {
    padding-top: 0.5em;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 1em;
    color: var(--preto);
}

.secao__texto {
    font-weight: 400;
    font-size: 20px;
    margin: 0 12em;
    color: var(--cinza);
    margin-bottom: 3.7em;
}

.metricas__container {
    display: flex;
    gap: 5em;
    margin: 3em;
}

.metricas__titulo {
    color: var(--vermelho);
    font-size: 60px;
    gap: 2em;
}

.metricas__subtitulo {
    color: var(--preto);
    font-size: 18px;
    margin-top: 1em;
}

.metricas__texto {
    color: var(--cinza);
    font-size: 16px;
    margin-top: 0.5em;
}

.talentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 5em;
}

.talentos__span {
    color: var(--vermelho);
    background: rgba(142, 36, 36, 0.05);
    width: 125px;
    padding: 4px;
    border-radius: 1em;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.25em;
    text-align: center;
}

.talentos__titulo {
    color: var(--preto);
    font-size: 36px;
}

.talentos__texto {
    color: var(--cinza);
    font-size: 20px;
}

.talentos__imagem {
    padding-top: 2em;
}